/* Definindo Regras */
@charset "UTF-8";
/* Definindo Variáveis */
:root{
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#063d1e;
    --fonte-padrao:Arial,Verdana,sans-serif;
    --fonte-principal:Bebas,cursive;
    --fonte-materia:Android,sans-serif;
}
/* Importando Fontes */
@font-face{
    font-family:Bebas;
    src:url("../Midias/Fontes/BebasNeue-Regular.ttf");
}
@font-face{
    font-family:Android;
    src:url("../Midias/Fontes/idroid.otf");
}
/* Resete do Navegador */
*{
    margin:0px;
    padding:0px;
    border:0px;
    box-sizing:border-box;
    font-family:var(--fonte-padrao);
}
/* Configurando o Body */
body{
    width:100%;
    background-color:var(--cor2);
}
/* Configurando o Header Principal */
.header{
    width:100%;
    height:100%;
    padding:2.5%;
    background:linear-gradient(var(--cor3),var(--cor5));
    color:white;
    text-align:center
}
.header h1{
    font-family:var(--fonte-principal);
    font-size:2.8em;
    margin-bottom:2%;
}
/* Configurando a Navegação Principal */
.navegacao{
    width:100%;
    background-color:var(--cor5);
}
.navegacao li{
    padding:1%;
    display:inline-block;
}
.navegacao a{
    color:white;
    text-decoration:none;
}
/* Trabalhando Com o Main Principal */
.main{
    width:70%;
    margin:auto;
    background-color:white;
    padding:2%;
    box-shadow:10px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
/* Estilizando os Textos */
.titulo{
    font-family:var(--fonte-materia);
    color:var(--cor5);
    margin:2% 0%;
}
.subtitulo{
    background:linear-gradient(to right,var(--cor2),white);
}
strong{
    color:var(--cor4);
}
.link{
    text-decoration:none;
    color:var(--cor5);
    font-weight:bolder;
}
.main p{
    text-indent:5%;
    font-size:1.2em;
}
/* Estilizando as Imagens */
.main img{
    max-width:800px;
    display:block;
    margin:2% auto;
}
/* Estilizando o Iframe */
.iframe{
    width:100%;
    padding:2%;
    background-color:var(--cor5);
    margin:2% 0%;
}
.iframe iframe{
    width:80%;
    height:400px;
    display:block;
    margin:auto;
}